<?xml version='1.0' encoding='utf-8'?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
        package="com.Likefr.LuaJava">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--    X5-->
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--  &lt;!&ndash;  访问大致位置信息（以网络为依据）&ndash;&gt;<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      &lt;!&ndash;  访问确切位置信息（以 GPS 和网络为依据）&ndash;&gt;<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!-- 检索正在运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  &lt;!&ndash; 修改系统设置 &ndash;&gt;   <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
      &lt;!&ndash; 安装快捷方式 &ndash;&gt;   <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <!-- 请求安装文件包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- &lt;!&ndash;  拍摄照片和视频&ndash;&gt;<uses-permission android:name="android.permission.CAMERA" />
       &lt;!&ndash;发送持久广播&ndash;&gt;   <uses-permission android:name="android.permission.BROADCAST_STICKY" />-->
    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 计算应用存储空间 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <!-- 请求忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <!--  &lt;!&ndash; 读取手机状态和身份 &ndash;&gt;   <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!-- 读取您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--tencent x5添加-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--android 9.0上使用前台服务，需要添加权限 原生WebView未用到，可能x5需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 读取手机状态和身份 -->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--&lt;!&ndash; 接听来电 &ndash;&gt;
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    &lt;!&ndash; 拨打电话 &ndash;&gt;
    <uses-permission android:name="android.permission.CALL_PHONE" />
    &lt;!&ndash; 发送短信 &ndash;&gt;
    <uses-permission android:name="android.permission.SEND_SMS" />
    &lt;!&ndash; 修改您的通讯录 &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    &lt;!&ndash; 读取联系人 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    &lt;!&ndash; 读取短信 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_SMS" />-->
    <!-- 访问蓝牙设置 --><!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!-- 计算应用存储空间 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- 更改网络连接性 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问蓝牙设置 -->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!-- &lt;!&ndash; 读取通话记录 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    &lt;!&ndash; 新建/修改/删除通话记录 &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />-->
    <!--   设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <!--  录音-->
    <!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <application
            android:largeHeap="true"
            android:name="com.androlua.LuaApplication"
            android:persistent="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:hardwareAccelerated ="true"
            android:icon="@drawable/icon"
            android:label="IntelliJ Lua"
            android:theme="@style/AppTheme" tools:targetApi="r">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>
        <meta-data
                android:name="android.max_aspect"
                android:value="4.0"/>
        <activity
                android:theme="@android:style/Theme.Material.Light.NoActionBar"
                android:label="导入alp"
                android:name="com.androlua.Main"
                android:launchMode="singleTask">
            <intent-filter>
                <action
                        android:name="android.intent.action.VIEW"/>
                <category
                        android:name="android.intent.category.DEFAULT"/>
                <category
                        android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data
                        android:mimeType="application/alp"/>
                <data
                        android:mimeType="application/zip"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.alp"/>
            </intent-filter>
            <intent-filter>
                <action
                        android:name="android.intent.action.VIEW"/>
                <category
                        android:name="android.intent.category.DEFAULT"/>
                <category
                        android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/alp"/>
                <data android:host="*"/>
                <data
                        android:mimeType="application/alp"/>
            </intent-filter>
        </activity>
        <activity
                android:label="IntelliJ Lua"
                android:name="com.androlua.LuaActivity"
                android:hardwareAccelerated="true"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/WebViewTheme"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action
                        android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action
                        android:name="android.intent.action.VIEW"/>
                <action
                        android:name="android.intent.action.EDIT"/>
                <category
                        android:name="android.intent.category.DEFAULT"/>
                <category
                        android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/lua"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action
                        android:name="android.intent.action.VIEW"/>
                <category
                        android:name="android.intent.category.DEFAULT"/>
                <category
                        android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.lua"/>
            </intent-filter>
        </activity>
        <activity android:name="com.androlua.Welcome"/>
        <activity
                android:configChanges="keyboardHidden|orientation|screenSize" android:documentLaunchMode="intoExisting"
                android:excludeFromRecents="false"
                android:label="IntelliJ Lua"
                android:name="com.androlua.LuaActivityX"
                android:screenOrientation="portrait"/>
        <activity
                android:label="IntelliJ Lua"
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN"/>
                <category
                        android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.nirenr.screencapture.ScreenCaptureActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service
                android:enabled="true"
                android:name="com.androlua.LuaService"/>
        <service
                android:enabled="true"
                android:exported="true"
                android:label="IntelliJ Lua"
                android:name="com.androlua.LuaAccessibilityService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config"/>
            <intent-filter>
                <action
                        android:name="android.accessibilityservice.AccessibilityService"/>
                <category
                        android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE"/>
                <category
                        android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC"/>
                <category
                        android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.Likefr.LuaJava.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/androlua_filepaths"/>
        </provider>
    </application>

</manifest>













